main {
  text-align: center;
}

.word__container {
  padding: 20px;
}

.word {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letterBox {
  border-bottom: 2px solid black;
  margin: 10px;
}

.vowel {
  border-bottom: 2px solid red;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.keyboard__letter {
  padding: 10px;
}
